html{
  background-image: url("../img/fondo.png"); display:inline-block;background-repeat:no-repeat;background-size:cover;
}
  
 h1 {
	 background-color:black;
	 text-align: center;
 }
 
 p {
	 padding: 10px;
	 text-align: center;
	 color:white;
	 font-family: Harlow Solid Italic;
 }

#logoimg{width:10%;
	height:80%;}
 
#inf1{
	color:cyan;
	margin-top:%;
  font-family: Harlow Solid Italic;
  padding: 1%;
}

#inf2{
	color:cyan;
	margin-top:%;
  font-family: Harlow Solid Italic;
  padding: 1%;
}

#encabezado2{
	width: 100%;
	height: 20%;
	text-align:center;}

#menu2{margin-left:20%;
	text-align:center;
	width:58%;
}
	
#menu2 ul {
	border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
background-color: #f3f3f3;}

#menu2 li {
	width: 20%;
    float: left;
	margin-left: 10%;
}

#menu2 li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu2 li a:hover:not(.active) {
    background-color: #ddd;
}

#menu2 li a.active {
    color: white;
    background-color: #01A9DB;
}